@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

$backgroundPrimary:   rgba(0, 0, 0, 0.1);
$textPrimary:         rgb(40, 40, 40);
$textSecondary:       rgb(100, 100, 100);
$textAccent1:         #c06b1b;
$textAccent2:         #ac3b61;

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  color: $textPrimary;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bgPrimary{
  background-color: $backgroundPrimary;
}
.textPrimary {
  color: $textPrimary;
}
.textSecondary {
  color: $textSecondary;
}
.textAccent1 {
  color: $textAccent1;
}
.textAccent2 {
  color: $textAccent2;
}
.swiper-button-next,
.swiper-button-prev {
    font-weight: 400;
    color: white !important;
}