.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 20px rgb(200, 200, 200);
}
.title {
    padding: 20px 0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
.devider {
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}
.items {
    width: 100%;
}
.item {
    cursor: pointer;
    width: 100%;
    padding: 20px;
    transition: ease-out 0.2s;
}
.active {
    background-color: rgba(0, 0, 0, 0.05)
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.07);
}