.container {
    padding: 40px;
}
.filtersContainer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        position: relative;
        cursor: pointer;
        width: 200px;
        padding: 14px 0;
        margin: 0 20px;
        font-family: inherit;
        border-radius: 0px;
        border: 1px solid grey;
        transition: ease 0.2s;
        color: rgb(0,45,71);
        span {
            font-size: 14px;
        }
        ul {
            display: none;
            font-size: 14px;
            transition: ease 0.2s;
            width: 200px;
            border: 1px solid grey;
            position: absolute;
            top: calc(100% - 2px);
            left: -1px;
            background-color: rgb(240,240,240);
            list-style-type: none;
            li {
                padding: 5px;
                transition: ease 0.2s;
            }
            li:hover {
                background-color: rgb(0,45,71);
                color: white;
            }   
        }
    }
    button:hover {
        background-color: rgb(0,45,71);
        border-color: rgb(0,45,71);
        span {
            color: white;
        }
        ul {
            display: block;
        }
    }
}
.listContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* estate block */
    >div{
        width: 30%;
        min-width: 400px;
        max-width: 500px;
        height: auto;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.05);
        /* image block of estate */
        >div:nth-child(1) {
            height: 240px;
            img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
        }
        /* info block of estate */
        >div:nth-child(2) {
            padding: 18px;
            >div {
                padding: 5px 0
            }
            /* title of estate */
            >div:nth-child(1) {
                font-size: 21px;
                font-weight: 500;
            }
            /* price of estate */
            >div:nth-child(2) {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.5px;
            }
            /* description of estate */
            >div:nth-child(3) {
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.5px;
            }
        }
    }
}